<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Email -->
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" matInput>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email?.invalid">{{emailErrorMessage}}</mat-error>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="showingPassword ? 'text' : 'password'" formControlName="password" matInput>
                <mat-icon matSuffix (click)="onShowPassword()">{{ showingPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-error *ngIf="confirmedPassword?.invalid">{{ passwordErrorMessage }}</mat-error>
            </mat-form-field>
            <!-- Confirm Password -->
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input [type]="showingPassword ? 'text' : 'password'" formControlName="confirmedPassword" matInput>
                <mat-error *ngIf="confirmedPassword?.hasError('required')">You must confirm your password!</mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-flat-button color="primary">Register</button>
            <button type="submit" mat-flat-button color="accent" routerLink="/login">Sign In</button>
        </mat-card-actions>
    </mat-card>
</form>