<main>
    <!-- List side(left) -->
    <mat-card>
        <mat-toolbar color="primary">
            <p>Material-Notes</p>
            <button mat-flat-button color="accent" (click)="onClearForm()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>
        <div *ngIf="listData.length < 1">
            <mat-card-title>Notes are empty!</mat-card-title>
            <mat-card-content>Start writing things down to see it in action.</mat-card-content>
        </div>
        <div class="individual-item-container" *ngFor="let item of listData">
            <mat-expansion-panel (click)="displayItemInfo(item)">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{item.title}}</mat-panel-title>
                </mat-expansion-panel-header>
                {{item.content}}
            </mat-expansion-panel>
            <button mat-button color="warn" (click)="deleteItem(item.title)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    <!-- Edit side(right) -->
    <form [formGroup]="itemDataForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-title>Note</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <input type="text" matInput formControlName="title">
                    <mat-label>Title</mat-label>
                    <mat-error *ngIf="itemTitle?.hasError('required')">
                        Title is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Item description:</mat-label>
                    <textarea matInput formControlName="content" cols="30" rows="20"></textarea>
                    <mat-error *ngIf="itemDescription?.hasError('required')">
                        Description is required!
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button type="button" [disabled]="listData.length < 1" mat-flat-button color="warn" (click)="onResetAllItems()">Reset</button>
                <button type="submit" mat-flat-button color="primary">Save</button>
            </mat-card-actions>
        </mat-card>
    </form>
</main>